body {
    background-color: #F0EBE3;
    font-family: 'Finlandica', sans-serif;
    color: #202c2e;
}

h1 {
    font-size: 6em;
    margin-bottom: 0;
}

h2 {
    font-size: 3em;
    margin-top: 10px;
}
.main-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20%;
}

#footer {
    font-size: 1.5em;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#myname {
    text-decoration: none;
    color: #202c2e;
}

#myname:hover {
    color: rgb(88, 88, 88);
}

@media only screen and (max-width: 768px) {
    html { font-size: 100%; }
    h1 { font-size: 4.5em; }
    h2 { font-size: 2em; }
    #footer { font-size: 1.2em }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #312a2a;
        color: #F0EBE3;
    }

    #myname {
        text-decoration: none;
        color: #F0EBE3;
        transition: color .3s;
        -webkit-transition: color .3s;
    }
    
    #myname:hover {
        color: rgb(167, 167, 167);
    }
}
